:root {
    --font-ratio: 1.414;
}

:root[data-theme="light"] {
    --text-50: #ecf3f8;
    --text-100: #d9e7f2;
    --text-200: #b4cee4;
    --text-300: #8eb6d7;
    --text-400: #689eca;
    --text-500: #4286bd;
    --text-600: #356b97;
    --text-700: #285071;
    --text-800: #1b354b;
    --text-900: #0d1b26;
    --text-950: #070d13;

    --background-50: #fff5e5;
    --background-100: #ffebcc;
    --background-200: #ffd699;
    --background-300: #ffc266;
    --background-400: #ffad33;
    --background-500: #ff9900;
    --background-600: #cc7a00;
    --background-700: #995c00;
    --background-800: #663d00;
    --background-900: #331f00;
    --background-950: #1a0f00;

    --primary-50: #fef6e6;
    --primary-100: #fdedce;
    --primary-200: #fbdc9d;
    --primary-300: #faca6b;
    --primary-400: #f8b93a;
    --primary-500: #f6a709;
    --primary-600: #c58607;
    --primary-700: #946405;
    --primary-800: #624304;
    --primary-900: #312102;
    --primary-950: #191101;

    --secondary-50: #fef2e7;
    --secondary-100: #fce5cf;
    --secondary-200: #faca9e;
    --secondary-300: #f7b06e;
    --secondary-400: #f5963d;
    --secondary-500: #f27c0d;
    --secondary-600: #c2630a;
    --secondary-700: #914a08;
    --secondary-800: #613105;
    --secondary-900: #301903;
    --secondary-950: #180c01;

    --accent-50: #edf8f6;
    --accent-100: #dbf0ed;
    --accent-200: #b7e1da;
    --accent-300: #92d3c8;
    --accent-400: #6ec4b6;
    --accent-500: #4ab5a3;
    --accent-600: #3b9183;
    --accent-700: #2c6d62;
    --accent-800: #1e4841;
    --accent-900: #0f2421;
    --accent-950: #071210;

}

:root[data-theme="dark"] {
    --text-50: #070d13;
    --text-100: #0d1b26;
    --text-200: #1b354b;
    --text-300: #285071;
    --text-400: #356b97;
    --text-500: #4286bd;
    --text-600: #689eca;
    --text-700: #8eb6d7;
    --text-800: #b4cee4;
    --text-900: #d9e7f2;
    --text-950: #ecf3f8;

    --background-50: #1a0f00;
    --background-100: #331f00;
    --background-200: #663d00;
    --background-300: #995c00;
    --background-400: #cc7a00;
    --background-500: #ff9900;
    --background-600: #ffad33;
    --background-700: #ffc266;
    --background-800: #ffd699;
    --background-900: #ffebcc;
    --background-950: #fff5e5;

    --primary-50: #191101;
    --primary-100: #312102;
    --primary-200: #624304;
    --primary-300: #946405;
    --primary-400: #c58607;
    --primary-500: #f6a709;
    --primary-600: #f8b93a;
    --primary-700: #faca6b;
    --primary-800: #fbdc9d;
    --primary-900: #fdedce;
    --primary-950: #fef6e6;

    --secondary-50: #180c01;
    --secondary-100: #301903;
    --secondary-200: #613105;
    --secondary-300: #914a08;
    --secondary-400: #c2630a;
    --secondary-500: #f27c0d;
    --secondary-600: #f5963d;
    --secondary-700: #f7b06e;
    --secondary-800: #faca9e;
    --secondary-900: #fce5cf;
    --secondary-950: #fef2e7;

    --accent-50: #071210;
    --accent-100: #0f2421;
    --accent-200: #1e4841;
    --accent-300: #2c6d62;
    --accent-400: #3b9183;
    --accent-500: #4ab5a3;
    --accent-600: #6ec4b6;
    --accent-700: #92d3c8;
    --accent-800: #b7e1da;
    --accent-900: #dbf0ed;
    --accent-950: #edf8f6;

}


body {
    margin: 0;
    color: var(--text-950);
    background-color: var(--background-50);
}

p, a {
    font-family: "Titillium Web", sans-serif;
    color: var(--text-950);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Teko", monospace;
    color: var(--text-950);
}

header {
    display: flex;
    align-items: center;
    background-color: var(--background-50);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
    gap: 5vw;
}

.logo-img {
    height: 100%;
    max-height: 140px;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    padding: 5%;
    margin: 0 1vw;
    object-fit: cover;
}

.logo {
    display: flex;
    text-decoration: none;
    height: 100%;
}

.logo-span {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    max-height: 140px;
    box-sizing: border-box;
    padding: 5% 0;
    & .line {
        display: block;
        line-height: 1.1;
    }
}

.h-c {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.h-t-b-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.t-mitglied-btn,
.t-spenden-btn,
.t-kontakt-btn,
.t-shop-btn {
    display: none;
    align-items: center;
    height: 40px;
    padding: 0 1vw;
    margin: 0 0.75vw;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--text-50);
    background-color: var(--secondary-500);
    &:hover {
        background-color: var(--secondary-400);
    }
}

.h-n-b {
    display: none;
    justify-content: flex-start;
    align-items: center;
    gap: 3vw;
}

.h-n-b-e {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
    &::after {
        display: block;
        content: "";
        width: 100%;
        height: 3px;
    }
    &:hover::after {
        background-color: var(--text-950);
    }
}

@media screen and (min-width: 1200px) {
    header {
        height: 140px;
    }

    .h-n-b {
        display: block;
        position: relative;
        height: 80px;
    }

    .h-t-b {
        display: block;
        position: relative;
        height: 60px;
    }

    .logo-span .line {
        font-size: 33.6px;
    }

    .t-mitglied-btn,
    .t-spenden-btn,
    .t-kontakt-btn,
    .t-shop-btn,
    .h-n-b-e,
    .h-n-b {
        display: flex;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
    header {
        height: 80px;
    }

    .h-t-b {
        height: 100%;
    }
    
    .logo-span .line {
        font-size: 19.2px;
    }

    .t-mitglied-btn,
    .t-spenden-btn,
    .t-kontakt-btn,
    .t-shop-btn {
        display: flex;
    }
}

@media screen and (min-width: 750px) and (max-width: 999px) {
    header {
        height: 80px;
    }

    .h-t-b {
        height: 100%;
    }
    
    .logo-span .line {
        font-size: 19.2px;
    }

    .t-mitglied-btn,
    .t-spenden-btn,
    .t-kontakt-btn,
    .t-shop-btn {
        display: flex;
    }
}

@media screen and (min-width: 575px) and (max-width: 749px) {
    header {
        height: 80px;
    }

    .h-t-b {
        height: 100%;
    }

    .logo-span .line {
        font-size: 19.2px;
        &:nth-child(1) {
            content: "Z";
        }
        &:nth-child(2) {
            content: "M";
        }
        &:nth-child(3) {
            content: "T";
        }
    }
}

@media screen and (max-width: 575px) {
    header {
        height: 80px;
    }

    .h-t-b {
        height: 100%;
    }

    .logo-span .line {
        font-size: 19.2px;
    }
}