<%
var title = "Home",
    desc = "Wir sind ein Team von medizinischen Fachleuten aus den verschiedensten Berufsgruppen und Lehren. Eine bunt zusammengemischte Truppe engagierter, hilfsbereiter Leute. Erfahre auf dieser Seite mehr über unser Team, unsere Freunde in Mbalizi und unsere Partner.";
%><!DOCTYPE html>
<html lang="de-ch" data-theme="light">
    <head>
        <%- include("./snippets/head.ejs", {
            title: title,
            date: date,
            desc: desc,
            url: url
        }) %>
    </head>
    <body>
        <%- include("./snippets/header.ejs") %>
        <%- include("./snippets/nav.ejs") %>
        <main>
            <div class="hero">
                <img class="hero-img" alt="Echse auf einem Stein" src="./img/stock/echse.jpg">
                <h1 class="hero-title">Medizinische Hilfe<br>in Tanzania</h1>
                <p class="hero-subtitle">Wir sind ein Team von medizinischen Fachleuten aus den verschiedensten Berufsgruppen und Lehren.</p>
                <button class="hero-cta">Mehr erfahren</button>
            </div>
        </main>
    </body>
</html>