<!DOCTYPE html>
<html lang="de-ch" data-theme="light">
    <head>
        <%- include("../snippets/head.ejs", {
            title: title,
            date: date,
            desc: desc,
            url: url,
            env: env,
            sitetype: sitetype
        }) %>
    </head>
    <body>
        <%- include("../snippets/header.ejs") %>
        <%- include("../snippets/nav.ejs") %>
        <main>
            <div class="general">
                <h2>Webseiten</h2>
                <p><a href="https://analytics.google.com/analytics/web/">Google Analytics</a></p>
                <p><a href="https://www.google.com/adsense">Google Adsense</a></p>
                <p><a href="https://imagekit.io/dashboard/media-library">ImageKit</a></p>
                <p><a href="/private/writeBlog">Zum Blog Builder</a></p>
                <h2>Login Daten</h2>
                <p>Google Konto:</p>
                <ul>
                    <li>E-Mail: zuerich.meets.tanzania@gmail.com</li>
                    <li>Passwort: IM ENV FILE</li>
                </ul>
                <p>ImageKit</p>
                <ul>
                    <li>E-Mail: zuerich.meets.tanzania@gmail.com</li>
                    <li>Passwort: IM ENV FILE</li>
                </ul>
            </div>
            <div class="news-management">
                <h1>News Verwaltung</h1>
                <p>Hier können News verteilt werden.</p>
                <form action="/post/submitNews" method="POST">
                    <label for="news_text">Text</label>
                    <input type="text" id="news_text" name="text" required>
                    <label for="news_pdf">PDF oder Bild (Auswählen für PDF)</label>
                    <input type="checkbox" id="news_pdf" name="pdf">
                    <div id="show_pdf">
                        <label for="news_pdf_src">Dateiname mit .pdf Endung hochgeladen auf imagekit unter dem Ordner pdf (Bsp: meinPDF.pdf)</label>
                        <input type="text" id="news_pdf_src" name="pdf_src">
                    </div>
                    <div id="show_img">
                        <label for="news_img_path">Link zum Bild</label>
                        <input type="text" id="news_img_path" name="img_path">
                        <label for="news_img_alt">Beschreibung des Bild</label>
                        <input type="text" id="news_img_alt" name="img_alt">
                        <label for="news_img_pos">Positionierung des Bildes (left, center oder right)</label>
                        <input type="text" id="news_img_pos" name="img_pos">
                    </div>
                    <input type="checkbox" id="news_btn" name="btn" checked="true">
                    <div id="show_btn_menu">
                        <label for="news_btn_text">Button Text</label>
                        <input type="text" id="news_btn_text" name="btn_text">
                        <label for="news_btn_link">Button Link</label>
                        <input type="text" id="news_btn_link" name="btn_link">
                    </div>
                    <div id="show_nothing" class="invisible"></div>
                    <button type="submit">Submit</button>
                </form>
                <script>
                    let pdf = document.getElementById("news_pdf"),
                        s_btn = document.getElementById("news_btn"),
                        s_pdf = $("#show_pdf"),
                        s_img = $("#show_img"),
                        s_btn_menu = $("#show_btn_menu"),
                        h_btn_menu = $("#show_nothing");

                    s_pdf.hide();

                    $(pdf).click(() => toggleDivs(pdf, s_pdf, s_img));
                    $(s_btn).click(() => toggleDivs(s_btn, s_btn_menu, h_btn_menu));


                    function toggleDivs (toggler, first, second) {
                        first.hide();
                        second.hide();
                        toggler.checked ? first.show() : second.show();
                    };
                </script>
            </div>
            <div class="hero-management">
                <h1>Neues Homepage Bild hochladen</h1>
                <input type="file" id="hero_img_upload" accept="image/png, image/jpg, image/gif, image/jpeg, image/tiff, image/psd, image/eps, image/ai, image/indd, image/raw, image/bpm, image/webp, image/svg, image/ico, image/heif, image/wmf, image/emf, image/tga, image/hdr">
                <button type="button" id="hero_img_upload_submit">Hochladen</button>
                <script>
                    var data = "";

                    $("#hero_img_upload").on("change", async e => {
                        data = await toBase64(e.target.files[0]);
                    });

                    $("#hero_img_upload_submit").click(async () => {
                        if (data === "") return;
                        let res = await fetch(window.location.origin + "/post/changeHeroImg", {
                            method: "POST",
                            headers: {"Content-Type": "application/json"},
                            mode: "cors",
                            cache: "default",
                            body: JSON.stringify({base64: data})
                        });
                    })
                </script>
            </div>
        </main>
        <%- include("../snippets/footer.ejs", {origin_url: origin_url}) %>
    </body>
</html>