.blog_line {
    height: 2px;
    width: 90%;
    margin: 10px 5%;
    background-color: var(--text-900);
}

.blog_title {
    text-align: center;
}

.blog_subtitle {
    padding: 0 5%;
}

.blog_text {
    padding: 0 10%;
}

.blog_img {
    margin: 2.5vh 10%;
    width: 80%;
    max-height: 50vh;
    min-height: 20vh;
    object-fit: contain;
    object-position: center;
}

.blog_carousel {
    margin: 4vh 10%;
    width: 80%;
    height: 60vh;
    position: relative;
}

.blog_c-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    z-index: 1;
    display: flex;
    overflow: hidden;
    background-color: var(--background-100);
    & img {
        transition: all 0.75s;
        flex-shrink: 1;
        width: 0;
        height: 100%;
        object-fit: contain;
        &.active {
            flex-shrink: 0;
            width: 100%;
        }
    }
}

.blog_c-ruler {
    position: absolute;
    bottom: -2vh;
    left: 50%;
    transform: translateX(-50%);
    height: 8vh;
    max-width: 80%;
    min-width: 10%;
    z-index: 10;
    display: flex;
    gap: 1.25vh;
    align-items: center;
    overflow-y: hidden;
    overflow-x: auto;
    background-color: #22212170;
    & img {
        transition: all 0.75s;
        height: 90%;
        aspect-ratio: 1/1;
        object-fit: cover;
        box-sizing: border-box;
        border: transparent 5px solid;
        &.active {
            border: #41403f 5px solid;
        }
        &:first-child {
            margin-left: 1.25vh;
        }
        &:last-child {
            margin-right: 1.25vh;
        }
    }
}

.blog_carousel_next,
.blog_carousel_prev {
    position: absolute;
    top: 50%;
    width: clamp(40px, 5%, 1000px);
    aspect-ratio: 1/1;
    z-index: 10;
    border: none;
    border-radius: 50%;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    background-color: #41403f;
    &:hover {
        background-color: #222121;
    }
    &:active {
        background-color: #1a0f00;
    }
}

.blog_carousel_prev {
    left: 0;
    transform: translate(-50%, -50%);
    background-image: url(../img/svg/carousel_toleft.svg);
}

.blog_carousel_next {
    right: 0;
    transform: translate(50%, -50%);
    background-image: url(../img/svg/carousel_toright.svg);
}

.blog_footer {
    width: 90%;
    height: 150px;
    margin: 15px 5%;
    display: flex;
    align-items: center;
    gap: 5%;
    & img {
        height: 100%;
        aspect-ratio: 1/1;
        padding: 26.25px;
        box-sizing: border-box;
        border: none;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        background-color: var(--background-200);
    }
    & div {
        height: 100%;
        & p {
            padding: 0;
            font-size: 25px;
        }
    }
}

.blog_half {
    display: grid;
    place-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 47.5% 47.5%;
    width: 90%;
    gap: 5%;
    margin: 2.5vh 5%;
    & > img {
        width: 100%;
    }
    & > p {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}

@media screen and (min-width: 575px) and (max-width: 749px) {
    .blog_c-main,
    .blog_carousel {
        height: 50vh;
    }
}

@media screen and (max-width: 575px) {
    .blog_c-main,
    .blog_carousel {
        height: 40vh;
    }
}

@media screen and (max-width: 260px) {
    .blog_c-main,
    .blog_carousel {
        height: 30vh;
    }
}