#contact-form {
    display: flex;
    flex-direction: column;
    margin: var(--basic-margin);
    padding: 5vh 4vw;
    gap: 1vh;
    background-color: var(--accent-300);
    box-shadow:
        rgba(146, 211, 200, 0.4) 0px 5px,
        rgba(146, 211, 200, 0.3) 0px 10px,
        rgba(146, 211, 200, 0.2) 0px 15px,
        rgba(146, 211, 200, 0.1) 0px 20px,
        rgba(146, 211, 200, 0.05) 0px 25px,
        rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 5px;
}

#contact-form label {
    font-size: 1.2rem;
    font-weight: bold;
}

.contact-names {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    gap: 1vh 5vw;
}

#contact-name,
#contact-family-name,
#contact-email,
#contact-message {
    padding: 0.5em;
    border: 2px solid #ccc;
    border-radius: 0.5em;
    color: var(--c-text-950);
    outline: none;
}

#contact-name:focus,
#contact-family-name:focus,
#contact-email:focus,
#contact-message:focus {
    border-color: var(--text-500);
    box-shadow: 0 0 0 0.2rem rgba(66, 134, 189, 0.25);
}

#contact-message {
    resize: vertical;
    min-height: 30vh;
}

#contact-submit {
    align-self: flex-end;
    margin: 20px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
    max-width: 600px;
    align-self: center;
}

#contact-submit:hover {
    background-color: #252727;
}

main,
footer {
    position: relative;
    z-index: 2;
}

.bg {
    position: fixed;
    left: 0;
    top: 80px;
    height: calc(100% - 80px);
    width: 100%;
    object-fit: cover;
    z-index: 1;
}

.t-mitglied-btn,
.t-spenden-btn,
.t-kontakt-btn,
.t-shop-btn {
    background-color: var(--accent-500);
    color: var(--text-950);
}

.t-mitglied-btn:hover,
.t-spenden-btn:hover,
.t-kontakt-btn:hover,
.t-shop-btn:hover {
    background-color: var(--accent-600);
}

:root[data-theme="dark"] .t-mitglied-btn,
:root[data-theme="dark"] .t-spenden-btn,
:root[data-theme="dark"] .t-kontakt-btn,
:root[data-theme="dark"] .t-shop-btn {
    background-color: var(--violett);
    color: var(--text-950);
}

:root[data-theme="dark"] .t-mitglied-btn:hover,
:root[data-theme="dark"] .t-spenden-btn:hover,
:root[data-theme="dark"] .t-kontakt-btn:hover,
:root[data-theme="dark"] .t-shop-btn:hover {
    background-color: #4a2984;
}

*::selection,
*::marker {
    background-color: #4ab5a3cc;
}

@media screen and (max-width: 575px) {
    .contact-names {
        display: flex;
        flex-direction: column;
        gap: 1vh;
    }
}
