.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2.5vw;
    place-items: center;
    margin: var(--basic-margin);
}

.gallery > .gallery-container,
.gallery > .gallery-container-vid {
    display: grid;
    place-items: center;
    position: relative;
}

.gallery .gallery-img,
.gallery .gallery-vid {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    transition: all 0.25s ease;
}

.gallery .gallery-img:hover,
.gallery .gallery-img:has(~ .gallery-context-menu:hover),
.gallery .gallery-vid:hover,
.gallery .gallery-vid:has(~ .gallery-context-menu:hover) {
    filter: brightness(65%) blur(1px);
    transform: scale(1.1);
}

.gallery .gallery-img:hover ~ .gallery-context-menu,
.gallery .gallery-img:has(~ .gallery-context-menu:hover) ~ .gallery-context-menu,
.gallery .gallery-vid:hover ~ .gallery-context-menu,
.gallery .gallery-vid:has(~ .gallery-context-menu:hover) ~ .gallery-context-menu {
    display: grid;
}

.gallery .gallery-img ~ .gallery-context-menu,
.gallery .gallery-vid ~ .gallery-context-menu {
    display: none;
    position: absolute;
    width: 100%;
    aspect-ratio: 1/1;
    place-items: center;
}

.gallery .gallery-img ~ .gallery-context-menu:hover,
.gallery .gallery-vid ~ .gallery-context-menu:hover {
    display: block;
}

.gallery .gallery-img ~ .gallery-context-menu > p,
.gallery .gallery-vid ~ .gallery-context-menu > p {
    font-weight: bold;
    font-size: 30px;
    color: var(--c-text-50);
    margin: 0;
}

.gallery-show,
.gallery-cinema {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #24242493;
    transition: all 0.25s ease;
}

.gallery-big,
.gallery-big-vid {
    position: absolute;
    left: 50%;
    top: calc(50% + var(--header-height) / 2);
    transform: translate(-50%, -50%);
    width: 90%;
    height: calc((100% - var(--header-height)) * 0.9);
    object-fit: contain;
    object-position: center;
}

.gallery-next,
.gallery-prev,
.gallery-next-vid,
.gallery-prev-vid {
    position: absolute;
    top: calc(50% + var(--header-height) / 2);
    width: clamp(40px, 5%, 1000px);
    aspect-ratio: 1/1;
    z-index: 10;
    border: none;
    border-radius: 50%;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    background-color: #41403f;
}

.gallery-next:hover,
.gallery-prev:hover,
.gallery-next-vid:hover,
.gallery-prev-vid:hover {
    background-color: #222121;
}

.gallery-next:active,
.gallery-prev:active,
.gallery-next-vid:active,
.gallery-prev-vid:active {
    background-color: #1a0f00;
}

.gallery-prev,
.gallery-prev-vid {
    left: 5vw;
    transform: translate(-50%, -50%);
    background-image: url(../img/svg/carousel_toleft.svg);
}

.gallery-next,
.gallery-next-vid {
    right: 5vw;
    transform: translate(50%, -50%);
    background-image: url(../img/svg/carousel_toright.svg);
}
