header {
    height: 80px !important;
}

.logo-span .line {
    font-size: 19.2px !important;
}

.h-t-b {
    height: 100% !important ;
}

form.login,
form.sign-up,
form.password-recovery {
    display: none;
    flex-direction: column;
    gap: 1vh;
    margin: 80px 25%;
    width: 50%;
    max-width: 45em;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: var(--green);
}

form.login h1,
form.sign-up h1,
form.password-recovery h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    font-size: 3em;
    color: var(--c-text-950);
}

label {
    color: var(--dark-green);
    font-weight: 600;
    font-family: "Teko", monospace;
    font-size: x-large;
    margin-top: 10px;
}

input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 85%;
    height: 100%;
    background-color: transparent;
    color: var(--c-text-950);
    font-size: 1.1rem;
}

input::placeholder {
    font-family: "Titillium Web", sans-serif;
    font-size: 1rem;
    color: var(--c-text-950);
}

input:focus {
    outline: none;
}

input:autofill,
input:-webkit-autofill {
    background-color: transparent !important;
}

#file {
    display: none;
}

.file {
    cursor: pointer;
    font-family: "Titillium Web", sans-serif;
    font-weight: normal;
    font-size: 1em;
    margin: 0;
    padding-left: 1em;
}

.file > img {
    width: 100%;
    height: auto !important;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.file:has(img) {
    width: 100%;
}

button {
    font-family: "Titillium Web", sans-serif;
}

#submit_login,
#submit_sign_up,
#submit_recovery {
    align-self: flex-end;
    margin: 20px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
}

#submit_login:hover,
#submit_sign_up:hover,
#submit_recovery:hover {
    background-color: #252727;
}

.input {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    transition: all 0.2s ease-in-out;
}

.input:focus-within {
    border: 1.5px solid var(--violett);
}

.input img {
    height: 1.2em;
}

.input:has(.file > img) {
    height: auto;
}

.switch {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.switch > p {
    color: var(--c-text-950);
}

.login_switch,
#recovery_switch {
    background-color: transparent;
    border: none;
    color: var(--violett);
    cursor: pointer;
    font-size: 1rem;
    text-decoration: underline;
}

.bg {
    position: fixed;
    left: 0;
    top: 80px;
    height: calc(100% - 80px);
    width: 100%;
    object-fit: cover;
    z-index: 1;
}

main {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.t-mitglied-btn,
.t-spenden-btn,
.t-kontakt-btn,
.t-shop-btn {
    background-color: #40b959;
    color: var(--text-950);
}

.t-mitglied-btn:hover,
.t-spenden-btn:hover,
.t-kontakt-btn:hover,
.t-shop-btn:hover {
    background-color: #4ee06b;
}

*::selection,
*::marker {
    background-color: #1f9d39cc;
}

.login img,
.sign-up img {
    filter: none !important;
}

.password-forgotten {
    margin: 0;
    text-align: right;
    padding-right: 1rem;
    text-decoration: underline;
    cursor: pointer;
}

.password-forgotten:hover {
    color: var(--text-800);
}

.signup-split-field {
    display: flex;
    flex-wrap: wrap;
    gap: 0 1.5rem;
}

.signup-split-field-item {
    flex: 1;
    min-width: -webkit-fill-available;
    min-width: fit-content;
}

.signup-split-field label {
    display: block;
}

@media screen and (min-width: 575px) and (max-width: 749px) {
    .blog_c-main,
    .blog_carousel {
        height: 50vh;
    }

    .blog_footer div p {
        font-size: 20px;
    }

    form.login,
    form.sign-up,
    form.password-recovery {
        width: 100%;
        max-width: unset;
    }
}

@media screen and (max-width: 575px) {
    .blog_c-main,
    .blog_carousel {
        height: 40vh;
    }

    .blog_footer div p {
        font-size: 15px;
    }

    form.login,
    form.sign-up,
    form.password-recovery {
        width: 100%;
        max-width: unset;
    }
}

@media screen and (max-width: 260px) {
    .blog_c-main,
    .blog_carousel {
        height: 30vh;
    }

    .blog_footer div p {
        font-size: 10px;
    }

    form.login,
    form.sign-up,
    form.password-recovery {
        width: 100%;
        max-width: unset;
    }
}
