.you {
    margin: 80px 5%;
    display: flex;
    justify-content: center;
    gap: 5%;
    width: 90%;
}

.you .static {
    width: 30%;
    background-color: var(--accent-100);
    padding: 40px 5%;
    box-sizing: border-box;
    height: max-content;
}

.you .static .img {
    position: relative;
    width: 80%;
    margin-left: 10%;
    aspect-ratio: 1/1;
}

.you .static .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.you .static h2 {
    font-size: 2.25em;
    margin: 20px 0;
    line-height: 1;
    text-align: center;
}

.you .static p {
    font-size: 1.25em;
    margin: 20px 0;
    line-height: 1.1;
}

.you .static p span {
    word-break: break-all;
    line-height: 1.2;
}

.you .dynamic {
    width: 70%;
    background-color: var(--text-100);
    padding: 40px 5%;
    box-sizing: border-box;
    height: max-content;
}

.edit_picture {
    position: absolute;
    right: 5%;
    bottom: 5%;
    width: 25%;
    padding: 0;
    padding-block: 0;
    padding-inline: 0;
    box-sizing: border-box;
    aspect-ratio: 1/1;
    border: none;
    border-radius: 50%;
    background-color: var(--accent-500);
    display: grid;
    place-items: center;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 60% 20%;
}

.edit_picture img {
    grid-area: 2 / 2 / 3 / 3;
    border-radius: 0 !important;
}

.user_type_member {
    line-height: 1.5;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background: linear-gradient(120deg, var(--primary-400), var(--primary-600));
    -webkit-background-clip: text;
    background-clip: text;
}

.you .dynamic .top {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
}

.you .dynamic .top .link {
    background-color: transparent;
    border: none;
    height: 60px;
    font-size: 20px;
    line-height: 2;
    font-weight: bold;
    transition: all 0.5s ease;
    color: var(--text-950);
}

.you .dynamic .top .link.active {
    color: var(--green);
}

.you .dynamic .top .link.active::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: var(--green);
    transition: all 0.5s ease;
}

.you .dynamic .settings,
.you .dynamic .preferences,
.you .dynamic .membership,
.you .dynamic .notifications {
    display: none;
}

.you .dynamic .settings.active,
.you .dynamic .preferences.active,
.you .dynamic .membership.active,
.you .dynamic .notifications.active {
    display: block;
}

.you .dynamic .settings label,
.you .dynamic .preferences label,
.you .dynamic .membership label,
.you .dynamic .notifications label {
    display: block;
    max-width: 45rem;
    height: 35px;
    font-size: 17.5px;
    margin: 7.5px auto;
    padding-top: 5px;
}

.dynamic .submit {
    display: none;
    margin: 20px auto 10px auto;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    max-width: 45rem;
    cursor: pointer;
}

.dynamic .submit:hover {
    background-color: #252727;
}

.dynamic .submit.active {
    display: block;
}

.no-error {
    position: fixed;
    bottom: 5vh;
    left: 50%;
    background-color: var(--green);
    margin: 0 15%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    font-size: 20px;
    line-height: 1.25;
    transform: translateX(-50%);
    z-index: 50;
}

.no-error > img {
    height: 1lh;
    aspect-ratio: 1/1;
    object-fit: contain;
    object-position: center;
    transform: translateY(20%);
}

.profile-settings-input {
    border: 1.5px solid var(--text-900);
    border-radius: 10px;
    height: 50px;
    max-width: 45rem;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin: 0 auto;
    transition: all 0.2s ease-in-out;
}

.profile-settings-input:focus-within {
    border: 1.5px solid var(--violett);
}

.profile-settings-input img {
    height: 1.2em;
}

.profile-settings-input:has(.file > img) {
    height: auto;
}

.profile-settings-input input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 85%;
    height: 100%;
    background-color: transparent;
}

.profile-settings-input input:focus-visible {
    outline: none;
}

#picture_overlay {
    display: none;
    position: fixed;
    top: 240px;
    height: calc(100% - 360px);
    width: 80%;
    left: 10%;
    place-items: center;
    pointer-events: none;
}

#picture_overlay.active {
    display: grid;
    z-index: 101;
}

.custom-file-upload {
    height: 75%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #e8e8e8;
    background-color: #212121;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px #e8e8e8;
    pointer-events: all;
}

.custom-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-file-upload .icon img {
    height: 80px;
    fill: #e8e8e8;
    filter: none;
}

.custom-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-file-upload .text span {
    font-weight: 400;
    color: #e8e8e8;
}

.custom-file-upload input {
    display: none;
}

.profile-preferences-div.preferences-darkmode-div {
    display: flex;
    gap: 5vw;
    justify-content: flex-start;
    align-items: center;
    margin-top: 12.5px;
}

.profile-preferences-div.preferences-darkmode-div > p {
    margin: 0;
}

.profile-preferences-div.preferences-darkmode-div label.ui-switch {
    margin: 0;
    height: auto;
    max-width: none;
    padding-top: 0;
}

h1.title ~ table.invoice:has(thead) {
    margin-top: 3vh !important;
}

.invoices {
    overflow-x: auto;
}

.invoices .title {
    margin-top: 2vh;
}

.invoice {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--text-950);
    font-family: "Titillium Web", sans-serif;
}

.invoice th {
    border: 1px solid var(--text-950);
    padding: 12px 8px;
}

.invoice td {
    text-align: center;
    border: 1px solid var(--text-950);
    padding: 8px;
    color: var(--text-950);
}

.invoice tbody tr:nth-child(even) {
    background-color: var(--text-300);
}

:root[data-theme="dark"] tr:nth-child(even) {
    background-color: var(--text-200);
}

.static-checkbox.uiverse input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.static-checkbox.uiverse,
label.static-checkbox.uiverse.hirachy-class {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 1.5rem;
    -webkit-user-select: none;
    user-select: none;
    aspect-ratio: 1/1;
}

label.static-checkbox.uiverse.hirachy-class {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    font-size: 1.5rem;
    -webkit-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
    max-width: unset;
    height: auto;
    aspect-ratio: 1/1;
}

.static-checkbox-mark.uiverse {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background-color: #ccc;
    border-radius: 50%;
    transition: 300ms;
}

.static-checkbox.uiverse input:checked ~ .static-checkbox-mark.uiverse {
    background-color: #0b6e4f;
    border-radius: 0.5rem;
    animation: static_checkbox 0.5s ease-in-out;
}

.static-checkbox-mark.uiverse:after {
    content: "";
    position: absolute;
    display: none;
}

.static-checkbox.uiverse input:checked ~ .static-checkbox-mark.uiverse:after {
    display: block;
}

.static-checkbox.uiverse .static-checkbox-mark.uiverse:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid #e0e0e2;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
}

.notifications_newsletter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

#newsletterSignUpOption {
    appearance: none;
    border: 0;
    outline: 0;
    height: 2.3rem;
    box-sizing: border-box;
    padding: 0.5rem;
    padding-right: 1.5rem;
    color: var(--text-50);
    background-image: url(../img/svg/select_arrow.svg);
    background-position: center right 0.25rem;
    background-repeat: no-repeat;
    background-size: 1rem;
    background-color: #0b6e4f;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#newsletterSignUpOption::-ms-expand {
    display: none;
}

#newsletterSignUpOption:focus {
    outline: none;
}

#close_picture_overlay {
    display: none;
    pointer-events: none;
}

#close_picture_overlay.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    pointer-events: all;
    background-color: rgba(0, 0, 0, 0.5);
}

:root[data-theme="dark"] #close_picture_overlay.active {
    background-color: rgba(191, 191, 191, 0.5);
}

#newsletterSignUpOption option {
    cursor: pointer;
    color: var(--text-50);
    background-color: #0b6e4f;
}

#newsletterSignUpOption option:hover,
#newsletterSignUpOption option:focus,
#newsletterSignUpOption option:active,
#newsletterSignUpOption option:target {
    background-color: var(--dark-green);
}

#newsletterSignUpOption option:disabled {
    color: var(--text-200);
}

.margin-t-5vh {
    margin-top: 5vh;
}

.date {
    text-align: right;
    padding: 0 5vw;
}

.donate-membership {
    display: none;
    margin: var(--basic-margin);
}

.donate-membership.active {
    display: block;
}

.news.vision {
    margin-bottom: 0;
    background-color: transparent;
}

.news-div.vision {
    padding: 0;
    padding-right: 5vw;
}

.zitat {
    font-style: italic;
}

.vision-text {
    font-size: 1.2em;
}

.vision-text.sign {
    margin-top: 4em;
}

.vision-wrapper {
    margin: var(--basic-margin);
}

.vision.subtitle {
    margin-top: 3em;
}

.title.vision,
.title.beginning {
    margin-top: 5vh;
}

.text-beginning {
    padding: 0 5vw;
    margin: 5vh 0;
}

.iframe-efr {
    margin: var(--basic-margin);
    width: calc(100% - 10vw);
    min-height: 75vh;
    margin-top: 5vh;
    border: none;
}

.tanzania_history {
    display: flex;
    align-items: stretch;
}

.tanzania_history > .time {
    position: relative;
    width: 20px;
    background-image: url("../img/svg/background_history.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 5vh 2.5vw;
    border-radius: 10px;
}

.tanzania_history > .time.geo {
    filter: hue-rotate(222deg);
}

.tanzania_history > .time.info {
    filter: hue-rotate(137deg);
}

.tanzania_history > .content {
    width: calc(100% - 10vw - 20px);
    margin: 5vh 5vw;
    margin-left: 0;
}

.tanzania_history_img {
    width: 100%;
    max-height: 40vh;
    object-fit: contain;
    margin-left: 2.5vw;
}

.blog_half {
    display: grid;
    place-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 47.5% 47.5%;
    width: 90%;
    gap: 5%;
    margin: 2.5vh 5%;
}

.blog_half > img {
    margin-left: 0;
}

.blog_half > ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

.text.tanzania_history {
    padding: 0;
}

.tanzania-vergleich {
    width: 100%;
    display: flex;
    gap: 2.5vw;
    align-items: stretch;
}

.tanzania-vergleich > .schweiz {
    flex-grow: 1;
}

.tanzania-vergleich > .tanzania {
    flex-grow: 1;
}

.tanzania_flags {
    max-height: 20vw;
    object-fit: contain;
    filter: none !important;
}

.kardio-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5vw;
    margin: 0 5vw;
}

.kardio-img {
    height: 35vh;
    max-width: calc(100% - 10vw);
    object-fit: contain;
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
}

@media screen and (min-width: 750px) and (max-width: 999px) {
}

@media screen and (min-width: 575px) and (max-width: 749px) {
    .you {
        flex-direction: column;
        gap: 0;
    }

    .you .static,
    .you .dynamic {
        width: 100%;
        margin-bottom: 80px;
    }

    .tanzania_history > .time {
        width: 10px;
        border-radius: 5px;
    }

    .blog_half {
        display: flex;
        flex-direction: column;
        gap: 2.5vh;
        margin: 2.5vh 10%;
        width: 80%;
    }

    .blog_half > img {
        margin: 2.5vh 0;
    }

    .tanzania-vergleich {
        flex-direction: column;
        gap: 2.5vh;
        align-items: center;
    }

    .tanzania-vergleich .schweiz,
    .tanzania-vergleich .tanzania {
        width: 100%;
    }

    .tanzania_big_title {
        word-wrap: break-word;
    }
}

@media screen and (max-width: 575px) {
    .you {
        flex-direction: column;
        gap: 0;
    }

    .you .static,
    .you .dynamic {
        width: 100%;
        margin-bottom: 80px;
    }

    .tanzania_history > .time {
        width: 10px;
        border-radius: 5px;
    }

    .blog_half {
        display: flex;
        flex-direction: column;
        gap: 2.5vh;
        margin: 2.5vh 10%;
        width: 80%;
    }

    .blog_half > img {
        margin: 2.5vh 0;
    }

    .tanzania-vergleich {
        flex-direction: column;
        gap: 2.5vh;
        align-items: center;
    }

    .tanzania-vergleich .schweiz,
    .tanzania-vergleich .tanzania {
        width: 100%;
    }

    .tanzania_big_title {
        word-wrap: break-word;
    }
}

@media screen and (max-width: 260px) {
}

@keyframes static_checkbox {
    0% {
        box-shadow: 0 0 0 #0b6e4f90;
        transform: rotate(20deg);
    }

    50% {
        transform: rotate(-20deg);
    }

    75% {
        box-shadow: 0 0 0 10px #0b6e4f60;
    }

    100% {
        box-shadow: 0 0 0 13px #0b6e4f30;
        transform: rotate(0deg);
    }
}
