<h1>Datenschutzerklärung ZMT</h1>
<h2>1. Allgemeine Informationen</h2>
<p>
    Datenschutz ist uns ein wichtiges Anliegen. Daher bearbeiten wir Ihre personenbezogenen Daten («Personendaten») mit grosser Sorgfalt und gemäss den anwendbaren gesetzlichen Vorgaben. zurich meets tanzania, Ackersteinstrasse 84, 8049 Zürich, Switzerland bearbeitet Ihre Personendaten für unterschiedliche Zwecke und informiert vorliegend transparent über diese Datenbearbeitungen. Unter
    «Personendaten» sind alle Informationen zu verstehen, die mit einer bestimmten oder bestimmbaren natürlichen Person in Verbindung gebracht werden können. Unter den Begriff «Bearbeiten» fällt jeglicher Umgang mit Personendaten, z.B. beschaffen, bekanntgeben, speichern, löschen usw.
</p>
<p>Bitte lesen Sie die ganze Datenschutzerklärung sorgfältig durch. So erfahren Sie wie und warum wir Ihre Personendaten bearbeiten und welche Rechte Sie im Zusammenhang mit diesen Datenbearbeitungen haben.</p>
<p>Diese Datenschutzerklärung richtet sich nach dem Schweizer Datenschutzgesetz (<strong>DSG</strong>). Sodann richtet sie sich auch nach der Europäischen Datenschutz-Grundverordnung (<strong>DSGVO</strong>). Es hängt vom individuellen Einzelfall ab, inwiefern überhaupt die DSGVO anwendbar ist.</p>
<p>Für wen und wann gilt diese Datenschutzerklärung?</p>
<ul>
    <li>wenn Sie von uns Dienstleistungen oder Produkte beziehen oder vertraglich mit uns in Verbindung stehen</li>
    <li>Besucherinnen und Besucher unserer Website www.zurich-meets-tanzania.com</li>
    <li>wenn Sie uns kontaktieren, z.B. via E-Mail, Brief, über unser Kontaktformular oder auch ein anderes Kontakttool</li>
    <li>wenn Sie von uns Informationen oder Marketingkommunikation erhalten</li>
    <li>wenn Sie sich für bestimmte Angebote (z.B. Events) anmelden</li>
    <li>wenn Sie unseren Newsletter abonnieren</li>
    <li>wenn Sie im Rahmen von weiteren Datenbearbeitungen, die im Zusammenhang mit unseren Angeboten stehen, mit uns zu tun haben</li>
</ul>
<h2>2. Verantwortlichkeit</h2>
<p>
    Es ist dasjenige Unternehmen für die Bearbeitung von Personendaten verantwortlich, das festlegt, zu welchem <strong>Zweck</strong> und mit welchen <strong>Mitteln</strong> die Bearbeitung erfolgt. Für die Datenbearbeitungen nach dieser Datenschutzerklärung ist folgende Gesellschaft oder Person die «Verantwortliche» im Sinne des DSG, d.h. die
    <strong>datenschutzrechtlich zuständige Stelle</strong>, soweit im spezifischen Einzelfall nichts Anderes kommuniziert wird (Identität):
</p>
<p>zurich meets tanzania Ackersteinstrasse 84 8049 Zürich Switzerland</p>
<p>Bei Anliegen oder Fragen zum Datenschutz können Sie uns über folgende Adresse kontaktieren:</p>
<p>stefanchristen62@gmail.com</p>
<h2>3. Zu bearbeitende Personendaten</h2>
<p>
    Wir bearbeiten mit Blick auf die unterschiedlichen Zwecke auch unterschiedliche Kategorien von Personendaten. Bei Vertragspartnern, die Unternehmen sind, bearbeiten wir weniger Personendaten – hier bearbeiten wir insbesondere Daten von Kontaktpersonen der Unternehmen (z.B. Name, E-Mail-Adresse, Funktion im Unternehmen, Kommunikationsdaten). Viele der folgenden Personendaten geben Sie uns
    selbst bekannt. Dazu sind Sie in der Regel jedoch nicht verpflichtet. Falls Sie uns Daten über andere Personen bekanntgeben, gehen wir davon aus, dass <strong>Sie dazu berechtigt sind</strong> und dass diese <strong>Daten zudem korrekt sind</strong>. Sie <strong>bestätigen dies automatisch</strong>, wenn Sie uns Daten dieser Dritten übermitteln. Bitte stellen Sie sicher, dass die betroffenen
    Dritten auf diese Datenschutzerklärung aufmerksam gemacht wurden.
</p>
<h3>3.1. Grunddaten und Kontaktinformationen</h3>
<p>Grunddaten und Kontaktinformationen beziehen sich direkt auf Ihre Person und Eigenschaften (bspw. um Sie zu kontaktieren). Wir bearbeiten z.B. die folgenden Grunddaten:</p>
<ul>
    <li>Name, Vorname</li>
    <li>Geburtsdatum</li>
    <li>Anschrift/Adresse</li>
    <li>E-Mail-Adresse</li>
    <li>Telefonnummer</li>
    <li>Angaben zur beruflichen Funktion und zur Beschäftigung (z.B. Anstellungsverhältnis, Arbeitgeber)</li>
    <li>Angaben zur Ausbildung</li>
</ul>
<p>Wir erhalten diese Stammdaten direkt von Ihnen. Wir können unter bestimmten Bedingungen aber auch Personendaten von Dritten beiziehen, wie z.B. von unseren Vertragspartnern, Verbänden und Adresshändlern und aus öffentlich zugänglichen Quellen wie z.B. aus dem Internet.</p>
<h3>3.2. Vertragsdaten</h3>
<p>Vertragsdaten sind Angaben, die im Zusammenhang mit der Vertragsabwicklung anfallen. Wir bearbeiten folgende Daten:</p>
<ul>
    <li>Angaben zu Zahlungen und Zahlungsmodalitäten, gegenseitigen Forderungen</li>
    <li>Zugangsdaten und Logins</li>
</ul>
<h3>3.3. Kommunikationsdaten</h3>
<p>Kommunikationsdaten sind Daten, die im Zusammenhang mit der Kommunikation mit Ihnen entstehen, z.B. sind dies folgende Daten:</p>
<ul>
    <li>Kontaktangaben wie z.B. Postadresse, E-Mail-Adresse und Telefonnummer</li>
    <li>Inhalt der gesamten Korrespondenz</li>
    <li>Angaben zur Art, Zeit und weiteren Randdaten der Kommunikation</li>
</ul>
<h3>3.4. Standortdaten und technische Daten</h3>
<p>Wenn Sie unsere Website besuchen, werden technische Daten erfasst. Dazu zählen z.B. folgende Daten:</p>
<ul>
    <li>Standort- und Verkehrsdaten</li>
    <li>IP-Adresse des Endgeräts und Geräte-ID</li>
    <li>Angaben über Ihr Gerät, das Betriebssystem Ihres Endgeräts</li>
    <li>Angaben über Ihren Internetprovider</li>
    <li>Aufgerufene Inhalte bzw. Protokolle, in denen die Nutzung unserer Systeme aufgezeichnet wird</li>
    <li>Datum und Zeit des Zugriffs auf die Website</li>
</ul>
<h3>3.5. Weitere mögliche Daten</h3>
<p>Je nach Notwendigkeit können wir sodann auch folgende weitere Daten bearbeiten:</p>
<ul>
    <li>Wir können auch Fotos oder Videos bearbeiten, in denen Sie erkennbar sein können (z.B. von Events).</li>
</ul>
<h2>4. Zwecke unserer Datenbearbeitung</h2>
<p>Wir bearbeiten Personendaten von Ihnen, soweit erlaubt, für unterschiedliche Zwecke, an denen wir ein dem Zweck entsprechendes berechtigtes Interesse haben:</p>
<ul>
    <li>Zur Vertragserfüllung</li>
    <li>Für die Kommunikation (z.B. die Beantwortung von Ihren Nachrichten)</li>
    <li>Für Marketing- und Informationszwecke (damit wir Sie bspw. gemäss Ihren persönlichen Interessen über Angebote oder neue Aktivitäten informieren können)</li>
    <li>Für die interne Administration (z.B. im Rahmen der Buchhaltung oder der Archivierung von Daten)</li>
</ul>
<h2>5. Datenbearbeitungen im Zusammenhang mit Social Media</h2>
<p>
    Wenn Sie via Social Media und unseren dortigen Profilen, z.B. auf Facebook, Instagram usw. mit uns in Kontakt treten, Inhalte kommentieren oder Posts weiterverbreiten, erheben wir dazu Angaben, die wir bspw. für Marketingzwecke verwenden können. Der jeweilige Anbieter einer Social Media Plattform erhebt bei Ihrem Besuch auf unserem Profil im Übrigen auch selbst Daten.
    <strong>Weitere Informationen zur Datenbearbeitung durch einen Social-Media-Anbieter selbst finden Sie in der jeweiligen Datenschutzerklärungen dieses Anbieters.</strong>
</p>
<h2>6. Online-Werbetechniken</h2>
<p>Auf unserer Website setzen wir Online-Werbetechniken wie bspw. Cookies ein. Damit messen wir die Nutzerfreundlichkeit und den Erfolg der Website und der Online-Werbekampagnen.</p>
<h3>6.1. Was sind Online-Werbetechniken wie bspw. Cookies?</h3>
<p>
    Wenn wir Sie tracken, können wir die Zugriffe von Ihnen von Zugriffen anderer Benutzer unterscheiden, damit wir die Funktionalität der Website sicherstellen und statistische Auswertungen vornehmen können. Bei jedem Seitenaufruf werden Sie als individuelle Besucherin bzw. individueller Besucher erkannt und können damit von anderen Personen unterschieden werden, etwa indem der Server Ihrem
    Browser eine eindeutige Erkennungsnummer zuweist (die Rede ist dann von einem sog. «Cookie»). Cookies werden automatisch auf Ihrem Endgerät gespeichert, wenn Sie unsere Website besuchen. Cookies nutzen wir z.B. zum Speichern von Einstellungen zwischen Ihren Besuchen auf der Website oder auch für die Erhebung von statistischen, technischen Daten.
</p>
<h3>6.2. Welche Cookies bzw. Online-Werbetechniken nutzen wir?</h3>
<p>Wir setzenn Analysedienste ein, damit wir unsere Website optimieren können. In der Folge erläutern wir beispielhaft die Funktionsweise unserer wichtigsten Analysedienstanbieter. Andere Drittanbieter von entsprechenden Tools bearbeiten Personendaten in der Regel auf ähnliche Art und Weise.</p>
<ul>
    <li>
        <strong>Google Analytics</strong>, ein Analyse-Dienst von Google LLC und Google Ireland Ltd.. Google Ireland Ltd. ist für die Bearbeitung von Personendaten die Verantwortliche. Google verwendet Cookies und Online-Werbetechniken, um bestimmte Informationen über das Verhalten einzelner Nutzer auf der Website zu analysieren. Auf der Basis der analysierten Daten stellt uns Google Auswertungen
        zur Verfügung, bearbeitet aber auch Daten für eigene Zwecke. Angaben zum Datenschutz bei Google Analytics finden Sie hier: <a href="https://policies.google.com/privacy">https://policies.google.com/privacy</a>
    </li>
</ul>
<h2>7. Datenbekanntgabe an andere Unternehmen und weitere Empfänger</h2>
<p>
    Wir geben Ihre Personendaten Dienstleistern bekannt. Das betrifft insbesondere IT-Dienstleister, kann aber – wo notwendig – Analysedienstleister, Inkassodienstleister, Wirtschaftsauskunfteien, Marketingdienstleister usw. betreffen. Soweit diese Dienstleister Personendaten als Auftragsbearbeiter bearbeiten, sind sie verpflichtet, Personendaten ausschliesslich nach unseren Instruktionen zu
    bearbeiten und Massnahmen zur Datensicherheit zu treffen. Daten können sodann auch an andere Empfänger bekanntgegeben werden, z.B. an Gerichte und Behörden im Rahmen von Gerichtsverfahren.
</p>
<p>In Einzelfällen ist es möglich, dass wir Personendaten an andere Dritte auch zu deren eigenen Zwecken weitergeben, z.B. wenn Sie uns dazu Ihre Einwilligung gegeben haben oder wenn wir zu einer Weitergabe gesetzlich verpflichtet oder berechtigt sind.</p>
<h2>8. Dauer der Datenbearbeitungen</h2>
<p>
    Wir speichern und bearbeiten Ihre Personendaten, solange es für den Zweck der Bearbeitung erforderlich ist (bei Daten im Zusammenhang mit Verträgen ist dies normalerweise für die Dauer der Vertragsbeziehung), solange wir ein berechtigtes Interesse an der Speicherung der Daten haben (z.B. um rechtliche Ansprüche durchzusetzen, oder um die IT-Sicherheit sicherzustellen) und solange Daten einer
    gesetzlichen Aufbewahrungspflicht unterliegen (für bestimmte Daten gilt z.B. eine zehnjährige Aufbewahrungsfrist, die wir zwingend einhalten müssen). Wir vernichten oder anonymisieren Ihre Personendaten nach Ablauf der Speicher- oder Bearbeitungsdauer, sofern keine rechtlichen oder vertraglichen Pflichten dies verbieten.
</p>
<h2>9. Rechtsgrundlagen gemäss DSGVO für die Datenbearbeitungen</h2>
<p>Je nachdem ist eine Datenbearbeitung nur dann erlaubt, wenn das anwendbare Recht es spezifisch erlaubt. Das gilt nicht nach dem schweizerischen Datenschutzrecht, jedoch nach der Europäischen DSGVO, soweit diese zur Anwendung gelangt. In diesem Fall stützen wir die Bearbeitung Ihrer Personendaten auf folgende Rechtsgrundlagen:</p>
<ul>
    <li>auf Ihre Einwilligung (Art. 6 Abs. 1 lit. a und Art. 9 Abs. 2 lit. a DSGVO);</li>
    <li>dass die Bearbeitung für die Vertragserfüllung oder vorvertragliche Massnahmen notwendig ist (Art. 6 Abs. 2 lit. b DSGVO)</li>
    <li>die Bearbeitung ist für ein berechtigtes Interesse an der Datenverarbeitung erforderlich (Art. 6 Abs. 1 lit. f DSGVO)</li>
    <li>dass die Bearbeitung für die Geltendmachung oder Abwehr von Rechtsansprüchen oder Zivilprozessen notwendig ist (Art. 6 Abs. 1 lit. f und Art. 9 Abs. 2 lit. f DSGVO)</li>
    <li>dass die Bearbeitung für die Einhaltung von in- oder ausländischen Rechtsvorschriften notwendig ist (Art. 6 Abs. 1 lit. c und lit. f sowie Art. 9 Abs. 2 lit. g DSGVO)</li>
</ul>
<h2>10. Betroffenenrechte</h2>
<p>Sie haben im Rahmen des anwendbaren Datenschutzrechts bestimmte Rechte, damit Sie weitere Informationen über unsere Datenbearbeitung beziehen und auf diese einwirken können. Das sind insbesondere die folgenden Rechte:</p>
<ul>
    <li>Sie haben ein Auskunftsrecht. Das heisst, Sie können Informationen über unsere Datenbearbeitung verlangen. Dafür stehen wir Ihnen gerne zur Verfügung. Sie können auch ein sog. Auskunftsbegehren stellen, wenn Sie weitere Informationen und eine Kopie Ihrer Daten wünschen.</li>
    <li>Sie haben ein Übertragungsrecht. Das heisst, Sie haben das Recht, die Personendaten, die Sie uns bereitgestellt haben, in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten oder an einen Dritten übertragen zu lassen, soweit die entsprechende Datenbearbeitung auf Ihrer Einwilligung beruht oder zur Vertragserfüllung erforderlich ist.</li>
    <li>Sie haben ein Recht auf Löschung und Widerspruch. Das heisst, Sie können gegen unsere Datenbearbeitung einen Widerspruch einlegen, sodass wir Ihre Daten nicht mehr bearbeiten können. Sie können sodann verlangen, dass wir Ihre Personendaten löschen. Wir weisen Sie jedoch darauf hin, dass wir Ihre Daten weiterhin bearbeiten und aufbewahren, wenn wir dazu verpflichtet sind.</li>
    <li>Sie haben ein Recht auf Berichtigung. Das heisst, Sie können falsche oder unvollständige Personendaten berichtigen bzw. vervollständigen oder sodann durch einen sog. Bestreitungsvermerk versehen lassen.</li>
    <li>
        Sie haben ein Recht auf Widerruf. Das heisst, Sie können jederzeit Ihre Einwilligung widerrufen, sofern Sie vorgängig Ihre Einwilligung für eine Datenbearbeitung gegeben haben. Der Widerruf gilt ab diesem Moment, das heisst nur für die Zukunft und nicht für die Vergangenheit. Es kann sein, dass wir Ihre Daten für den Fall Ihres Widerrufs aber weiterhin gestützt auf eine andere Grundlage
        bearbeiten.
    </li>
</ul>
<p>
    Wenn Sie Ihre Betroffenenrechte geltend machen, müssen wir Ihre Identität prüfen (dies geschieht bspw. durch Zustellen einer Ausweiskopie). Die aufgeführten Betroffenenrechte unterliegen sodann gesetzlichen Voraussetzungen und Beschränkungen. Das bedeutet, dass die Rechteausübung nicht in jedem Fall vollumfänglich möglich ist. Beispielsweise müssen wir Ihre Personendaten nach wie vor
    weiterbearbeiten, um einen Auftrag mit Ihnen zu erfüllen, um eigene schutzwürdige Interessen zu wahren oder um gesetzlichen Verpflichtungen gerecht zu werden. Soweit es rechtlich zulässig ist (z.B. zum Schutz der Privatsphäre von Drittpersonen sowie zur Wahrung eigener, schutzwürdiger Interessen wie das Vorliegen von Geschäftsgeheimnissen), können wir Ihre Rechteausübung einschränken oder
    verweigern. Es sei im Übrigen erwähnt, dass Sie auch die Möglichkeit haben, mit Ihrem Anliegen an die zuständige Datenschutzbehörde zu gelangen.
</p>
<h2>11. Stand der Datenschutzerklärung</h2>
<p>Diese Datenschutzerklärung ist auf dem neusten Stand und datiert vom 13.10.2024.</p>
<p>
    <strong>Diese Datenschutzerklärung wurde erstellt durch <a href="https://lexdex.ch">LEXDEX.ch</a> – Dein Datenschutzexperte.</strong>
</p>
