<footer>
            <div style="display: none;">
                Impressum
                Datenschutz
                Sitemap
                Just for us
                Statuten
                Copyright
                Link zu mir
                https://www.instagram.com/zurichmeetstanzania/
                unikat-hoengg.ch
                https://www.facebook.com/profile.php?id=100064463715451
                newsletter
                https://www.raisenow.com/?utm_source=product&utm_medium=tamaro
            </div>

        </footer>