<footer>
            <div style="display: none;">
                
                newsletter
            </div>
            <div class="f-news"></div>
            <div class="f-links">
                <div class="f-l-social">
                    <h2>Folge uns!</h2>
                    <a href="https://www.instagram.com/zurichmeetstanzania/">Instagramm</a>
                    <a href="https://www.facebook.com/profile.php?id=100064463715451">Facebook</a>
                    <h2>Weiteres</h2>
                    <a href="https://www.unikat-hoengg.ch/">Unikat Höngg</a>
                    <a href="#">Verwaltung</a>
                </div>
                <div class="f-l-r">
                    <h2>Rechtliches</h2>
                    <a href="#">Datenschutz</a>
                    <a href="#">Impressum</a>
                    <a href="https://www.timondev.vip/">Programmiert</a>
                    <a href="#">Statuten</a>
                    <a href="#">Sitemap</a>
                </div>
            </div>
            <p class="f-copyright">Copyright &copy; 2024 Zürich Meets Tanzania | Alle Rechte vorbehalten</p>
        </footer>