<footer>
            <form class="f-news">
                <div>
                    <h2>Newsletter</h2>
                    <p>Bleiben Sie über Zürich Meets Tanzania und ähnliche Projekte informiert.</p>
                    <div class="news-a">
                        <p class="news-a-t">Anrede:</p>
                        <input type="checkbox" id="newsletter-anrede-herr" checked="true">
                        <label for="newsletter-anrede-herr">Herr</label>
                        <input type="checkbox" id="newsletter-anrede-frau">
                        <label for="newsletter-anrede-frau">Frau</label>
                    </div>
                </div>
                <div class="news-n">
                    <input type="text" id="newsletter-vorname" autocomplete="given-name" placeholder="Vorname" class="f-input" required>
                    <input type="text" id="newsletter-nachname" autocomplete="family-name" placeholder="Nachname" class="f-input" required>
                </div>
                <input type="email" id="newsletter-email" autocomplete="email" placeholder="E-Mail-Adresse" class="f-input" required>
                    <p id="newsletter-form-error">Du hast einen Fehler gemacht</p>
                <button type="submit" class="f-submit" id="newsletter-submit">Anmelden</button>
            </form>
            <div class="f-links">
                <div class="f-l-social">
                    <h2>Folge uns!</h2>
                    <a href="https://www.instagram.com/zurichmeetstanzania/">Instagramm</a>
                    <a href="https://www.facebook.com/profile.php?id=100064463715451">Facebook</a>
                    <h2>Weiteres</h2>
                    <a href="https://www.unikat-hoengg.ch/">Unikat Höngg</a>
                    <a href="#">Verwaltung</a>
                </div>
                <div class="f-l-r">
                    <h2>Rechtliches</h2>
                    <a href="#">Datenschutz</a>
                    <a href="#">Impressum</a>
                    <a href="https://www.timondev.vip/">Programmiert</a>
                    <a href="#">Statuten</a>
                    <a href="#">Sitemap</a>
                </div>
            </div>
            <p class="f-copyright">Copyright &copy; 2024 Zürich Meets Tanzania | Alle Rechte vorbehalten</p>
        </footer>