<nav>
            <div class="w750 w1000" id="nav_tab"><%
                let link_mitglied;
                if (typeof user !== "undefined" && user !== null) {
                    user?.valid ? link_mitglied = "/profile?js=profile_toMembership" : link_mitglied = "/spenden?js=membership_click#scrollToDonate";
                } else {
                    link_mitglied = "/spenden?js=membership_click#scrollToDonate";
                }; %>
                <ul class="n-t">
                    <li>
                        <div class="n-t-details">
                            <p class="n-t-summary">Verein</p>
                            <ul>
                                <li>
                                    <a href="/vision">Vision</a>
                                </li>
                                <li>
                                    <a href="/vorstand">Vorstand</a>
                                </li>
                                <li>
                                    <a href="/Wie%20alles%20begann">Wie alles begann...</a>
                                </li>
                                <li>
                                    <a href="/finanzen">Finanzierung</a>
                                </li>
                                <li>
                                    <a href="/erfolgsrechnung">Erfolgsrechung</a>
                                </li>
                                <li>
                                    <a href="/generalversammlung">Generalversammlung</a>
                                </li>
                                <li>
                                    <a href="/statuten">Statuten</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="n-t-details">
                            <p class="n-t-summary">Projekte</p>
                            <ul>
                                <li class="mit-bild">
                                    <img alt="Zurich meets Tanzania Logo" src="/img/logo.svg">
                                    <a href="/zurich-meets-tanzania">zurich meets tanzania</a>
                                </li>
                                <li class="mit-bild">
                                    <img alt="tanzania meets zurich Logo" src="/img/logo.svg">
                                    <a href="/tanzania-meets-zurich">tanzania meets zurich</a>
                                </li>
                                <li class="mit-bild">
                                    <img alt="Mbuzi Logo" src="/img/regular/mbuzi.jpg">
                                    <a href="/projects/mbuzi">Mbuzi</a>
                                </li>
                                <li class="mit-bild">
                                    <img alt="Twenty for Forty Logo" src="/img/regular/twenty4forty.jpg">
                                    <a href="/projects/gynäkologie">Twenty4Forty</a>
                                </li>
                                <li class="mit-bild">
                                    <img alt="Meducation Logo" src="/img/logo.svg">
                                    <a href="/projects/meducation">Meducation</a>
                                </li>
                                <li class="mit-bild">
                                    <img alt="Bajaji Bild" src="/img/regular/bajaji.min.jpg">
                                    <a href="/projects/bajaji">Bajaji</a>
                                </li>
                                <li class="mit-bild">
                                    <img alt="zurich meets tanzania Logo" src="/img/logo.svg">
                                    <a href="/projects/kardiologie" style="text-transform: none;">Kardiologie</a>
                                </li>
                                <li class="mit-bild">
                                    <img alt="zurich meets tanzania Logo" src="/img/logo.svg">
                                    <a href="/projects/chirurgie" style="text-transform: none;">Chirurgie</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="n-t-details">
                            <p class="n-t-summary">Blogs</p>
                            <ul></ul>
                        </div>
                    </li>
                    <li>
                        <div class="n-t-details">
                            <p class="n-t-summary">Bilder</p>
                            <ul></ul>
                        </div>
                    </li>
                    <li>
                        <div class="n-t-details">
                            <p class="n-t-summary">Weiteres</p>
                            <ul><%
                                if (!user) { %>
                                <li>
                                    <a href="/login">Einloggen</a>
                                </li>
                                <li>
                                    <a href="/login?js=toggleForms">Registrieren</a>
                                </li><% }
                                else { %>
                                <li>
                                    <a href="/profile">Mein Konto</a>
                                </li>
                                <li>
                                    <a class="logout" href="#">Ausloggen</a>
                                </li><% } %>
                                <li>
                                    <a href="/team">Aktuelles Team</a>
                                </li>
                                <li>
                                    <a href="/archiv">Archiv</a>
                                </li>
                                <li>
                                    <a href="/tanzania">Factsheet Tanzania</a>
                                </li>
                                <li>
                                    <a href="/contact">Kontakt</a>
                                </li>
                                <li>
                                    <a href="https://shop.unikat-hoengg.ch/produkte/zurichmeetstanzania-60?d=1">Shop</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="n-t-f">
                    <button type="button" class="n-t-darkmode data-tooltip uiverse" data-tooltip-content="<%
                    if (sitetype !== 'login' && user?.darkmode) { %>Lightmode<%
                    } else { %>Darkmode<% }; %>" id="darkmode2">
                        <div class="n-t-darkmode-div"></div>
                    </button>
                    <a class="data-tooltip uiverse n-t-contact wi750dif" href="/contact" data-tooltip-content="Kontakt">
                        <img alt="Kontakt" src="/img/svg/personal.svg">
                    </a>
                </div>
            </div>
            <div class="w575 w-575" id="nav_mobile">
                <ul class="n-m">
                    <li>
                        <div class="n-t-details">
                            <p class="n-t-summary">Verein</p>
                            <ul>
                                <li>
                                    <a href="/vision">Vision</a>
                                </li>
                                <li>
                                    <a href="/vorstand">Vorstand</a>
                                </li>
                                <li>
                                    <a href="/Wie%20alles%20begann">Wie alles begann...</a>
                                </li>
                                <li>
                                    <a href="/finanzen">Finanzierung</a>
                                </li>
                                <li>
                                    <a href="/erfolgsrechnung">Erfolgsrechung</a>
                                </li>
                                <li>
                                    <a href="/generalversammlung">Generalversammlung</a>
                                </li>
                                <li>
                                    <a href="/statuten">Statuten</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="n-t-details">
                            <p class="n-t-summary">Projekte</p>
                            <ul>
                                <li class="mit-bild">
                                    <img alt="zurich meets tanzania Logo" src="/img/logo.svg">
                                    <a href="/zurich-meets-tanzania">zurich meets tanzania</a>
                                </li>
                                <li class="mit-bild">
                                    <img alt="tanzania meets zurich Logo" src="/img/logo.svg">
                                    <a href="/tanzania-meets-zurich">tanzania meets zurich</a>
                                </li>
                                <li class="mit-bild">
                                    <img alt="Mbuzi Logo" src="/img/regular/mbuzi.jpg">
                                    <a href="/projects/mbuzi">Mbuzi</a>
                                </li>
                                <li class="mit-bild">
                                    <img alt="Twenty for Forty Logo" src="/img/regular/twenty4forty.jpg">
                                    <a href="/projects/gynäkologie">Twenty4Forty</a>
                                </li>
                                <li class="mit-bild">
                                    <img alt="Meducation Logo" src="/img/logo.svg">
                                    <a href="/projects/meducation">Meducation</a>
                                </li>
                                <li class="mit-bild">
                                    <img alt="Bajaji Bild" src="/img/regular/bajaji.min.jpg">
                                    <a href="/projects/bajaji">Bajaji</a>
                                </li>
                                <li class="mit-bild">
                                    <img alt="zurich meets tanzania Logo" src="/img/logo.svg">
                                    <a href="/projects/kardiologie" style="text-transform: none;">Kardiologie</a>
                                </li>
                                <li class="mit-bild">
                                    <img alt="zurich meets tanzania Logo" src="/img/logo.svg">
                                    <a href="/projects/chirurgie" style="text-transform: none;">Chirurgie</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="n-t-details">
                            <p class="n-t-summary">Blogs</p>
                            <ul></ul>
                        </div>
                    </li>
                    <li>
                        <div class="n-t-details">
                            <p class="n-t-summary">Bilder</p>
                            <ul></ul>
                        </div>
                    </li>
                    <li>
                        <div class="n-t-details">
                            <p class="n-t-summary">Weiteres</p>
                            <ul><%
                                if (!user) { %>
                                <li>
                                    <a href="/login">Einloggen</a>
                                </li>
                                <li>
                                    <a href="/login?js=toggleForms">Registrieren</a>
                                </li><% }
                                else { %>
                                <li>
                                    <a href="/profile">Mein Konto</a>
                                </li>
                                <li>
                                    <a class="logout" href="#">Ausloggen</a>
                                </li><% } %>
                                <li>
                                    <a href="/team">Aktuelles Team</a>
                                </li>
                                <li>
                                    <a href="/archiv">Archiv</a>
                                </li>
                                <li>
                                    <a href="/tanzania">Factsheet Tanzania</a>
                                </li>
                                <li>
                                    <a href="/contact">Kontakt</a>
                                </li>
                                <li>
                                    <a href="https://shop.unikat-hoengg.ch/produkte/zurichmeetstanzania-60?d=1">Shop</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="n-m-f">
                    <a class="t-mitglied-btn flex jusify-center" href ="<%= link_mitglied %>">Mitglied werden</a>
                    <a class="t-spenden-btn flex jusify-center" href ="/spenden">Spenden</a>
                    <a class="t-shop-btn flex jusify-center" href ="https://shop.unikat-hoengg.ch/produkte/zurichmeetstanzania-60?d=1">Shop</a>
                    <div class="n-m-f-small-buttons">
                        <button type="button" class="n-t-darkmode data-tooltip uiverse" data-tooltip-content="<%
                        if (sitetype !== "login" && user?.darkmode) { %>Lightmode<%
                        } else { %>Darkmode<% }; %>" id="darkmode3">
                            <div class="n-t-darkmode-div"></div>
                        </button>
                        <a class="data-tooltip uiverse n-t-contact" href="/contact" data-tooltip-content="Kontakt">
                            <img alt="Kontakt" src="/img/svg/personal.svg">
                        </a>
                    </div>
                </div>
            </div>
            <div class="w1200" id="nav_desktop">
                <div class="n-foldable1 n-d">
                    <ul class="n-f-ul">
                        <li>
                            <a href="/vision">Vision</a>
                        </li>
                        <li>
                            <a href="/vorstand">Vorstand</a>
                        </li>
                        <li>
                            <a href="/Wie%20alles%20begann">Wie alles begann...</a>
                        </li>
                        <li>
                            <a href="/finanzen">Finanzierung</a>
                        </li>
                        <li>
                            <a href="/erfolgsrechnung">Erfolgsrechung</a>
                        </li>
                        <li>
                            <a href="/generalversammlung">Generalversammlung</a>
                        </li>
                        <li>
                            <a href="/statuten">Statuten</a>
                        </li>
                    </ul>
                </div>
                <div class="n-foldable2 n-d">
                    <ul class="n-f-ul">
                        <li class="mit-bild">
                            <img alt="zurich meets tanzania Logo" src="/img/logo.svg">
                            <a href="/zurich-meets-tanzania">zurich meets tanzania</a>
                        </li>
                        <li class="mit-bild">
                            <img alt="tanzania meets zurich Logo" src="/img/logo.svg">
                            <a href="/tanzania-meets-zurich">tanzania meets zurich</a>
                        </li>
                        <li class="mit-bild">
                            <img alt="Mbuzi Logo" src="/img/regular/mbuzi.jpg">
                            <a href="/projects/mbuzi">Mbuzi</a>
                        </li>
                        <li class="mit-bild">
                            <img alt="Twenty for Forty Logo" src="/img/regular/twenty4forty.jpg">
                            <a href="/projects/gynäkologie">Twenty4Forty</a>
                        </li>
                        <li class="mit-bild">
                            <img alt="Meducation Logo" src="/img/logo.svg">
                            <a href="/projects/meducation">Meducation</a>
                        </li>
                        <li class="mit-bild">
                            <img alt="Bajaji Bild" src="/img/regular/bajaji.min.jpg">
                            <a href="/projects/bajaji">Bajaji</a>
                        </li>
                        <li class="mit-bild">
                            <img alt="zurich meets tanzania Logo" src="/img/logo.svg">
                            <a href="/projects/kardiologie" style="text-transform: none;">Kardiologie</a>
                        </li>
                        <li class="mit-bild">
                            <img alt="zurich meets tanzania Logo" src="/img/logo.svg">
                            <a href="/projects/chirurgie" style="text-transform: none;">Chirurgie</a>
                        </li>
                    </ul>
                </div>
                <div class="n-foldable3 n-d">
                    <ul class="n-f-ul"></ul>
                </div>
                <div class="n-foldable4 n-d">
                    <ul class="n-f-ul"></ul>
                </div>
                <div class="n-foldable5 n-d">
                    <ul class="n-f-ul"><%
                        if (!user) { %>
                        <li>
                            <a href="/login">Einloggen</a>
                        </li>
                        <li>
                            <a href="/login?js=toggleForms">Registrieren</a>
                        </li><% }
                        else { %>
                        <li>
                            <a href="/profile">Mein Konto</a>
                        </li>
                        <li>
                            <a class="logout" href="#">Ausloggen</a>
                        </li><% } %>
                        <li>
                            <a href="/team">Aktuelles Team</a>
                        </li>
                        <li>
                            <a href="/archiv">Archiv</a>
                        </li>
                        <li>
                            <a href="/tanzania">Factsheet Tanzania</a>
                        </li>
                        <li>
                            <a href="/contact">Kontakt</a>
                        </li>
                        <li>
                            <a href="https://shop.unikat-hoengg.ch/produkte/zurichmeetstanzania-60?d=1">Shop</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>