<nav>
            <div class="w750 w1000" id="nav_tab">
                <p style="display: none;">Verein, Projekte, Teams, Blog, Bilder, Label for darkmode button (Ausserdem alle unterreiter von den sachen)</p>
                <p style="display: none;">Ab 1000px au de Kontakt button</p>
                <ul class="n-t">
                    <li>
                        <span>Verein</span>
                        <ul>
                            <li><a href="#">Vision</a></li>
                            <li><a href="#">Vorstand</a></li>
                            <li><a href="#">Wie alles begann...</a></li>
                            <li><a href="#">Erfolgsrechung</a></li>
                            <li><a href="#">GV Daten</a></li>
                        </ul>
                    </li>
                    <li>
                        <span>Projekte</span>
                        <ul>
                            <li class="mit-bild"><img alt="Zürich meets Tanzania Logo" src="./img/logo.svg"><a href="#">Zürich meets Tanzania</a></li>
                            <li class="mit-bild"><img alt="Tanzania meets Zürich Logo" src="./img/logo.svg"><a href="#">Tanzania meets Zürich</a></li>
                            <li class="mit-bild"><img alt="Mbuzi Logo" src="./img/regular/mbuzi.jpg"><a href="#">Mbuzi</a></li>
                            <li class="mit-bild"><img alt="Twenty for Forty Logo" src="./img/regular/twenty4forty.jpg"><a href="#">20 for 40</a></li>
                            <li class="mit-bild"><img alt="Meducation Logo" src="./img/logo.svg"><a href="#">Meducation</a></li>
                            <li class="mit-bild"><img alt="Bajaji Bild" src="./img/regular/bajaji.min.jpg"><a href="#">Bajaji</a></li>
                        </ul>
                    </li>
                    <li>
                        <span>Blog</span>
                        <ul>
                            <li><a href="#">Aktuell</a></li>
                            <li><a href="#">#Vorletzter Blog#</a></li>
                            <li><a href="#">#Vorvorletzer blog#</a></li>
                            <li><a href="#">Und so weiter</a></li>
                        </ul>
                    </li>
                    <li>
                        <span>Bilder</span>
                        <ul>
                            <li><a href="#">Faces of Tanzania</a></li>
                            <li><a href="#">Land und Leute</a></li>
                            <li><a href="#">OP-Teams</a></li>
                            <li><a href="#">Spital</a></li>
                            <li><a href="#">Eröffnung Notfallstation Mai 2019</a></li>
                            <li><a href="#">Songwe Secondary School</a></li>
                            <li><a href="#">Safari</a></li>
                            <li><a href="#">Videos</a></li>
                        </ul>
                    </li>
                    <li>
                        <span>Weiteres</span>
                        <ul>
                            <li><a href="#">Factsheet Tanzania</a></li>
                            <li><a href="#">Statuten</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="n-t-f">
                    <button type="button" class="n-t-darkmode data-tooltip uiverse" data-tooltip-content="Darkmode" id="darkmode2">
                        <div class="n-t-darkmode-div"></div>
                    </button>
                    <a class="data-tooltip uiverse n-t-contact wi750dif" href="#" data-tooltip-content="Kontakt">
                        <img alt="Kontakt" src="./img/svg/personal.svg">
                    </a>
                </div>
            </div>
            <div class="w575 w-575" id="nav_mobile">
                <p>Verein, Projekte, Teams, Blog, Bilder, Label for darkmode button (Ausserdem alle unterreiter von den sachen)</p>
                <p>Ab 1000px au de Kontakt button</p>
                <p>Au alli andere buttons (Mitglied, spenden, shop, kontakt)</p>
                
            </div>
            <div class="w1200" id="nav_desktop">
                <div class="n-foldable1 n-d">
                    <ul class="n-f-ul">
                        <li><a href="#">Vision</a></li>
                        <li><a href="#">Vorstand</a></li>
                        <li><a href="#">Wie alles begann...</a></li>
                        <li><a href="#">Erfolgsrechung</a></li>
                        <li><a href="#">GV Daten</a></li>
                    </ul>
                </div>
                <div class="n-foldable2 n-d">
                    <ul class="n-f-ul">
                        <li class="mit-bild"><img alt="Zürich meets Tanzania Logo" src="./img/logo.svg"><a href="#">Zürich meets Tanzania</a></li>
                        <li class="mit-bild"><img alt="Tanzania meets Zürich Logo" src="./img/logo.svg"><a href="#">Tanzania meets Zürich</a></li>
                        <li class="mit-bild"><img alt="Mbuzi Logo" src="./img/regular/mbuzi.jpg"><a href="#">Mbuzi</a></li>
                        <li class="mit-bild"><img alt="Twenty for Forty Logo" src="./img/regular/twenty4forty.jpg"><a href="#">20 for 40</a></li>
                        <li class="mit-bild"><img alt="Meducation Logo" src="./img/logo.svg"><a href="#">Meducation</a></li>
                        <li class="mit-bild"><img alt="Bajaji Bild" src="./img/regular/bajaji.min.jpg"><a href="#">Bajaji</a></li>
                    </ul>
                </div>
                <div class="n-foldable3 n-d">
                    <ul class="n-f-ul">
                        <li><a href="#">Aktuell</a></li>
                        <li><a href="#">#Vorletzter Blog#</a></li>
                        <li><a href="#">#Vorvorletzer blog#</a></li>
                        <li><a href="#">Und so weiter</a></li>
                    </ul>
                </div>
                <div class="n-foldable4 n-d">
                    <ul class="n-f-ul">
                        <li><a href="#">Faces of Tanzania</a></li>
                        <li><a href="#">Land und Leute</a></li>
                        <li><a href="#">OP-Teams</a></li>
                        <li><a href="#">Spital</a></li>
                        <li><a href="#">Eröffnung Notfallstation Mai 2019</a></li>
                        <li><a href="#">Songwe Secondary School</a></li>
                        <li><a href="#">Safari</a></li>
                        <li><a href="#">Videos</a></li>
                    </ul>
                </div>
                <div class="n-foldable5 n-d">
                    <ul class="n-f-ul">
                        <li><a href="#">Factsheet Tanzania</a></li>
                        <li><a href="#">Statuten</a></li>
                    </ul>
                </div>
            </div>
        </nav>