<nav>
            <div class="w750 w1000" id="nav_tab">
                <p>Verein, Projekte, Teams, Blog, Bilder, Label for darkmode button (Ausserdem alle unterreiter von den sachen)</p>
                <p>Ab 1000px au de Kontakt button</p>
            </div>
            <div class="w575 w-575" id="nav_mobile">
                <p>Verein, Projekte, Teams, Blog, Bilder, Label for darkmode button (Ausserdem alle unterreiter von den sachen)</p>
                <p>Ab 1000px au de Kontakt button</p>
                <p>Au alli andere buttons (Mitglied, spenden, shop, kontakt)</p>
            </div>
            <div class="w1200" id="nav_desktop">
                <div class="n-foldable1 n-d">
                    <ul class="n-f-ul">
                        <li><a href="#">Vorstand</a></li>
                        <li><a href="#">Wie alles begann...</a></li>
                        <li><a href="#">Erfolgsrechung</a></li>
                        <li><a href="#">GV Daten</a></li>
                    </ul>
                </div>
                <div class="n-foldable2 n-d">
                    <ul class="n-f-ul">
                        <li class="mit-bild"><img alt="Z端rich meets Tanzania Logo" src="./img/logo.svg"><a href="#">Z端rich meets Tanzania</a></li>
                        <li class="mit-bild"><img alt="Tanzania meets Z端rich Logo" src="./img/logo.svg"><a href="#">Tanzania meets Z端rich</a></li>
                        <li class="mit-bild"><img alt="Mbuzi Logo" src="./img/regular/mbuzi.jpg"><a href="#">Mbuzi</a></li>
                        <li class="mit-bild"><img alt="Twenty for Forty Logo" src="./img/regular/twenty4forty.jpg"><a href="#">20 for 40</a></li>
                        <li class="mit-bild"><img alt="Meducation Logo" src="./img/logo.svg"><a href="#">Meducation</a></li>
                        <li class="mit-bild"><img alt="Bajaji Bild" src="./img/regular/bajaji.jpg"><a href="#">Bajaji</a></li>
                    </ul>
                </div>
                <div class="n-foldable3 n-d">
                    <ul class="n-f-ul">
                        <li><a href="#">Vorstand</a></li>
                        <li><a href="#">Wie alles begann...</a></li>
                        <li><a href="#">Erfolgsrechung</a></li>
                        <li><a href="#">GV Daten</a></li>
                    </ul>
                </div>
                <div class="n-foldable4 n-d">
                    <ul class="n-f-ul">
                        <li><a href="#">Vorstand</a></li>
                        <li><a href="#">Wie alles begann...</a></li>
                        <li><a href="#">Erfolgsrechung</a></li>
                        <li><a href="#">GV Daten</a></li>
                    </ul>
                </div>
                <div class="n-foldable5 n-d">
                    <ul class="n-f-ul">
                        <li><a href="#">Vorstand</a></li>
                        <li><a href="#">Wie alles begann...</a></li>
                        <li><a href="#">Erfolgsrechung</a></li>
                        <li><a href="#">GV Daten</a></li>
                    </ul>
                </div>
            </div>
        </nav>