<div id="notifications-wrapper">
    <template id="notification-template">
        <div class="notification-wrapper">
            <div class="notification-icon">
                <img class="notification-img" src="" alt="" />
            </div>
            <div class="notification-content">
                <h2 class="notification-title"></h2>
                <p class="notification-text"></p>
            </div>
            <div class="notification-close">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="notification-svg" viewBox="0 0 16 16" part="svg">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"></path>
                </svg>
            </div>
        </div>
    </template>
    <div class="notification-wrapper notification-closable invisible" id="cookie-notification">
        <div class="notification-icon">
            <img class="notification-img" src="/img/svg/cookie.svg" alt="Ein Keks" />
        </div>
        <div class="notification-content">
            <h2 class="notification-title">Wir benutzen Cookies</h2>
            <p class="notification-text cookie-text">Diese Webseite verwendet Cookies, um dir das bestmögliche Erlebnis zu bieten. Wenn du die Cookies akzeptierst, hilfst du mit die Seite besser zu machen. <a href="/datenschutz">Mehr Erfahren</a></p>
            <button type="button" class="f-submit cookie-button" id="cookie-accept">Akzeptieren</button>
        </div>
        <div class="notification-close" id="cookie-close">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="notification-svg" viewBox="0 0 16 16" part="svg">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"></path>
            </svg>
        </div>
    </div>
</div>
